# Virtual environment
env/
venv/
.venv/

#  Django
db.sqlite3
media/
shared/
staticfiles/
.env

# macOS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
.cursor/
.sixth/
.gemini/

# Linter cache
.ruff_cache/

# Node
node_modules/
npm-debug.log*
.freebuff/
